<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>EditEvent</title>
  <link rel="stylesheet" href="css/nicepage.css" media="screen">
  <link rel="stylesheet" href="css/EditEvent.css" media="screen">
  <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "MyGardens"
}</script>
  <meta name="theme-color" content="#d8dfd0">
  <meta property="og:title" content="EditEvent">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
</head>

<body class="u-body">
  <header class="u-clearfix u-header" id="sec-623e">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
      <h3 class="u-headline u-text u-text-1">
        <a href="/"></a>
      </h3>
      <h1 class="u-text u-text-default u-title u-text-2" data-animation-name="" data-animation-duration="0"
        data-animation-delay="0" data-animation-direction="">WITAJCIE, PSZCZELARZE</h1>
      <a href="/logout" data-page-id="46173522"
        class="u-active-none u-border-2 u-border-black u-btn u-button-style u-custom-font u-heading-font u-hover-none u-text-black u-text-hover-white u-white u-btn-1">wyloguj</a>
      <a href="/ManageAccount" data-page-id="105602464"
        class="u-border-2 u-border-black u-btn u-button-style u-custom-font u-heading-font u-hover-black u-text-black u-text-hover-white u-white u-btn-2">zarządzaj
        kontem</a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse">
          <a class="u-border-2 u-border-grey-75 u-button-style u-custom-active-color u-custom-color u-custom-hover-color u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-nav-link"
            href="#">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-custom-font u-heading-font u-nav u-unstyled">
            <li class="u-nav-item"><a
                class="u-active-white u-border-2 u-border-black u-button-style u-hover-black u-nav-link u-text-active-black u-text-black u-text-hover-white u-white"
                href="/apiaries" style="padding: 40px 146px;">Pasieki</a>
            </li>
            <li class="u-nav-item"><a
                class="u-active-white u-border-2 u-border-black u-button-style u-hover-black u-nav-link u-text-active-black u-text-black u-text-hover-white u-white"
                href="/events" style="padding: 40px 146px;">Wydarzenia</a>
            </li>
            <li class="u-nav-item"><a
                class="u-active-white u-border-2 u-border-black u-button-style u-hover-black u-nav-link u-text-active-black u-text-black u-text-hover-white u-white"
                href="/accounts" style="padding: 40px 150px 40px 146px;">Użytkownicy</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/apiaries"
                    style="padding: 40px 146px;">Pasieki</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/events"
                    style="padding: 40px 146px;">Wydarzenia</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/accounts"
                    style="padding: 40px 146px;">Użytkownicy</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-clearfix u-section-1" id="sec-7846">
    <div class="u-align-left u-clearfix u-sheet u-valign-top u-sheet-1">
      <div class="u-border-3 u-border-palette-1-base u-container-style u-expanded-width u-group u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h1 class="u-text u-text-default u-text-1">Edytuj Wydarzenie</h1>
          <div class="u-form u-form-1">
            <form action="/eventUpdate" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
              source="custom" name="form" style="padding: 10px;">
              <div class="u-form-group u-form-group-1">
                <label for="text-ed91" class="u-form-control-hidden u-label"></label>
                <input type="text" id="text-ed91" name="apiary"
                  class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
              </div>
              <div class="u-form-date u-form-group u-form-group-2">
                <label for="date-fbeb" class="u-form-control-hidden u-label"></label>
                <input type="date" placeholder="MM/DD/YYYY" id="date-fbeb" name="start"
                  class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
              </div>
              <div class="u-form-date u-form-group u-form-group-3">
                <label for="date-b822" class="u-form-control-hidden u-label"></label>
                <input type="date" placeholder="MM/DD/YYYY" id="date-b822" name="end"
                  class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
              </div>
              <div class="u-form-group u-form-textarea u-form-group-4">
                <label for="textarea-9a7d" class="u-form-control-hidden u-label"></label>
                <textarea rows="4" cols="50" id="textarea-9a7d" name="description"
                  class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"></textarea>
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#"
                  class="u-border-2 u-border-white u-btn u-btn-submit u-button-style u-custom-font u-heading-font u-hover-black u-none u-text-body-alt-color u-text-hover-white u-btn-1">edytuj<br>
                </a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Dziękujemy! Twoja wiadomość została wysłana! </div>
              <div class="u-form-send-error u-form-send-message"> Przepraszamy, wiadomość nie mogła zostać wysłana.
                Popraw błędy i spróbuj ponownie. </div>
              <input type="hidden" value="" name="recaptchaResponse">
            </form>
          </div>
          <h3 class="u-text u-text-2">PASIEKA:</h3>
          <h3 class="u-text u-text-3">DATA ROZPOCZĘCIA:</h3>
          <h3 class="u-text u-text-body-alt-color u-text-4">DATA ZAKOŃCZENIA:</h3>
          <h3 class="u-text u-text-white u-text-5">NOTATKA:</h3>
        </div>
      </div>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-55c8">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
  </footer>
</body>

</html>