.u-section-1 .u-sheet-1 {
  min-height: 732px;
}

.u-section-1 .u-group-1 {
  min-height: 671px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-1 .u-form-1 {
  height: 324px;
  margin: 35px 183px 0 384px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  text-align: left;
  margin: -361px 716px 0 217px;
}

.u-section-1 .u-text-3 {
  text-align: left;
  margin: 19px 760px 0 59px;
}

.u-section-1 .u-text-4 {
  text-align: left;
  margin: 19px 760px 0 50px;
}

.u-section-1 .u-text-5 {
  text-align: left;
  margin: 19px 729px 218px 204px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 143px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 26px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
    font-style: normal;
    margin-top: 1px;
    font-size: 3rem;
  }

  .u-section-1 .u-form-1 {
    width: 334px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    font-style: normal;
    margin-right: 616px;
    margin-left: 271px;
  }

  .u-section-1 .u-text-3 {
    font-weight: normal;
    font-style: normal;
    margin-right: 619px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-weight: normal;
    font-style: normal;
    margin-right: 610px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    font-weight: normal;
    font-style: normal;
    margin-right: 629px;
    margin-left: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 506px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 399px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 390px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 509px;
    margin-left: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 571px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 65px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 35px;
    margin-right: 48px;
    margin-left: 82px;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 333px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 219px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 333px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-top: -489px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 99px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: auto;
    width: 334px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 133px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 133px;
  }
}